body {
    /*general----------*/
    background-color:#A1C5F0;
    margin-left:350px;
    margin-right:400px; 

}


/*estilos tipográficos-----*/


  
div.principal{
    color:black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 900px;
    height: 120px;
    padding: 20px;
    background-color: antiquewhite;
    border-width:5px;
    border-style: solid;
    border-color: black;

    
 }
 h1{
     margin-left:240px ;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F7F7F7;
    text-decoration: underline;
   
 }
div.secundario{
    color:black;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    height: 250px;
    padding: 20px;
    background-color:antiquewhite;
    margin: auto;
    border-width:5px;
    border-style: solid;
    border-color: black;

}
div.row{
    width: 900px;
    height: 220px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: antiquewhite;
    margin: auto;
    border-width:5px;
    border-style: solid;
    border-color: black;

}
 div.sketches{
     color: black;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 20px;
     background-color: antiquewhite;
     margin: auto;
     width: 900px;
     height: 220px;
     border-width:5px;
    border-style: solid;
    border-color: black;

    
}
h2{
    font-size:24px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
   
    
       

}
button {
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
  }
  div.botones{
    margin: auto;
    width: 900px;
    height: 180px;
    padding: 20px;
    background-color: antiquewhite;
    border-width:5px;
    border-style: solid;
    border-color: black;
  }


  input[type="range"]{
    margin: auto;
    width: 500px; 
   }
div.footer{
    width: 740px;
    height: 50px;
    padding-left: 200px;
    background-color: gray;
    border-width:5px;
    border-style: solid;
    border-color: black;
    bottom: 0;
    position: fixed;
    border-radius: 20px;


}
